.form {
  background-color: #6233b9;
  padding: 1rem;
  width: 20rem;
}

.form label {
  display: block;
  font-weight: bold;
  color: #eadbfb;
  margin-bottom: 0.05rem;
}

.form input {
  width: 95%;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.form textarea {
  width: 95%;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.actions button {
  cursor: pointer;
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 4px;
  background-color: #34036c;
  color: #e5d5f7;
}

.actions button:hover {
  background-color: #4d0c9e;
}

.actions button[type="button"] {
  background-color: #6233b9;
}